<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <!-- <p>Mars News. Mars Images. Mars Facts. Mars Hemispheres</p> -->
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data!</a></p>
    </div>
    <!-- latest news -->
    <div class = "row">
      <div class = "col-md-12">
        <h2>Latest Mars News</h2>
        <h3>NASA's Push to Save the Mars InSight Lander's Heat Probe</h3>
        <p>A crisply rendered web application can show you where the agency's Mars 2020 mission is right now as it makes its way to the Red Planet for a Feb. 18, 2021, landing.</p>
      </div>
    </div> 
    <div class = "row">
      <div class = "col-md-8">
        <h2>Featured Mars Image</h2>
        <img src="https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg" width= 400, height = 400, alt="Featured_mars_image">
      </div>
      <div class = "col-md-4">
        <h2>Mars Facts</h2>
        <table border="1" class="dataframe">
            <thead>
              <tr style="text-align: right;">
                <th>Description</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Equatorial Diameter:</td>
                <td>6,792 km</td>
              </tr>
              <tr>
                <td>Polar Diameter:</td>
                <td>6,752 km</td>
              </tr>
              <tr>
                <td>Mass:</td>
                <td>6.39 × 10^23 kg (0.11 Earths)</td>
              </tr>
              <tr>
                <td>Moons:</td>
                <td>2 ( Phobos &amp; Deimos )</td>
              </tr>
              <tr>
                <td>Orbit Distance:</td>
                <td>227,943,824 km (1.38 AU)</td>
              </tr>
              <tr>
                <td>Orbit Period:</td>
                <td>687 days (1.9 years)</td>
              </tr>
              <tr>
                <td>Surface Temperature:</td>
                <td>-87 to -5 °C</td>
              </tr>
              <tr>
                <td>First Record:</td>
                <td>2nd millennium BC</td>
              </tr>
              <tr>
                <td>Recorded By:</td>
                <td>Egyptian astronomers</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>    
    <hr>
      <div class = "row">
          <div>
<body>
<div class="row">
  <div class="col-md-12">
      </br> 
      <div id="bottom_space_data_pg" style="background-color:wheat;"> </div>
  </div>
</div>

  <div id = "bottom_visual" class="container"> 
      <div class="row">
          <div class="col-md-12">
              </br> 
          </div>
      </div>
      <hr> 
  <div class="row align-items-center">
      <div class = 'col-md-4'></br></br></br></div>
      <div class="col-lg-4">
          <h3 id="bot_header">Mars Hemispheres</h3>
      </div>
      <div class = 'col-md-4'></br></br></br></div>
  </div>
  <div class="row align-items-center">
      <div class="col-lg-3">
          <a href="Cerberus Hemisphere Enhanced">
              <img class="mx-auto d-block img-fluid" src="https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg"
              alt = "Maximum Temperature vs. Latitude" height="225" width="200">
          </a>
      </div>
      <div class="col-lg-3">
          <a href="Schiaparelli Hemisphere Enhanced">
              <img class="mx-auto d-block img-fluid" src="https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg"
              alt = "Humidity vs. Latitude" height="225" width="200">
          </a>
      </div>
      <div class="col-lg-3">
          <a href="Syrtis Major Hemisphere Enhanced">
              <img class="mx-auto d-block img-fluid" src="https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg"
              alt = "Cloudiness vs. Latitude" height="225" width="200">
          </a>
      </div>
      <div class="col-lg-3">
          <a href="Valles Marineris Hemisphere Enhanced">
              <img class="mx-auto d-block img-fluid" src="https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg"
              alt = "Windspeed vs. Latitude" height="225" width="200">
          </a>
      </div>
  </div>
  <hr>
</div>
</body>
</html>